.root{ 
    position: fixed;
    top: -4rem;
    left: 0;
    transform: rotate(-41deg) translateX(-12rem);
    padding: .5rem;
    width: 33rem;
    text-align: center;
    letter-spacing: .4rem;
    line-height: 1.9rem;
    font-size: 1.7rem;
    font-family: monospace;
    font-weight: 400;
    background-color: #9575cd;
    text-transform:uppercase ;
    color:#000642  ; 
    text-decoration: none ;
}